@model UserViewModel.RegisterUserDto
@{
    
    Layout = "_AccountLayout";
    ViewData["Title"] = "Sign up";
}

<div class="container-fluid signup_bg_image">

    <div class="main-wrapper">

        <div class="inner-wrap" style="display:flex; justify-self:center; justify-content: center;">
            <form asp-action="Signup" asp-controller="Account" method="post">
                <div class="card" style="width: 40rem;">
                    <h3 style="display:flex; justify-content:center;">MTN Church Portal Sign up</h3>
                    <div class="card-body" style="width: 100% !important;">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group" data-tip="Enter Your Full Name">
                                    <label for="fullname">Full Name</label>
                                    <input asp-for="@Model.FullName" type="text" name="FullName" id="fullName" class="form-control" />
                                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input asp-for="@Model.Username" type="text" name="Username" id="userName" class="form-control" required />
                                    <span asp-validation-for="@Model.Username" class="text-danger"></span> 
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="phonenumber">Phone Number</label>
                                    <input asp-for="@Model.PhoneNumber" type="text" name="PhoneNumber" id="phoneNumber" class="form-control" />
                                    <span asp-validation-for="@Model.PhoneNumber"class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input asp-for="@Model.Email" type="email" name="Email" id="email" class="form-control" />
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input asp-for="@Model.Password"type="password" name="Password" id="password" class="form-control" />
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label for="confirmpassword">Comfirm Password</label>
                                    <input asp-for="@Model.ConfirmPassword" type="password" name="ComfirmPassword" id="confirmPassword" class="form-control" req />
                                    <span asp-validation-for="@Model.ConfirmPassword class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                            <div class="col-md-6 col-lg-12 col-sm-6" style="padding-top: 1rem">
                                <button type="submit" value="submit" class="sign-btn form-control" id="registrationForm">Signup</button>
                            </div>
                            <div class="col-md-6 col-lg-12 col-sm-6">
                                <label style="padding-top: 1rem; display:flex; justify-content:center;">Already have an account?</label>
                                <button type="submit"value="login" class="login-btn form-control" id="redirect-signin">Login</button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section UserAccount{
<script src="~/js/signup.js"></script>
<script src="~/js/toastr.js"></script>
<link href="~/css/account.css" rel="stylesheet" />
 }